<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="/static/style.css?[132]" media="screen">
	<script type="text/javascript" src="static/clicked.js"></script>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</head>

    <body>
    {% block content %}
	<div id="main">
	<header>
	    <h2>検索してね</h2>
		<form method="POST" action="/api/search/">
			<input type="text" name="text_name" id="text">
			<input type="submit" value="検索" onclick="search()">
		</form>
	</header>
	
	</div> <!--main-->
	{% endblock %}
	</body>
</html>





