<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="static/style.css?[132]" media="screen">
	<script type="text/javascript" src="static/clicked.js"></script>
	</head>

    <body>
    {% block content %}
	<div id = "main">
	<header>
	    <h2>秋水楓's Time Line</h2>
	</header>
	    <hr>
	    <div id = "contents">  
            {% for post in posts %}
	    <div class="post" id="{{ loop.index0 }}">
	        <div class="icon">{{ post.icon | safe}}</div>
		<p class="username">{{ post.username }}</p>
		<p class="tweet">{{ post.tweet }}</p>
		<span class="daytime">{{ post.daytime }}</span>
		</div>

		<div class="goodbad">
			<button class="good" type="button" id="{{ loop.index0 }}" onClick="good(this)">Good</button>
			<button class="bad" type="button" id="{{loop.index0 }}" onClick="bad(this)">Bad</button>
		</div>
		<hr>
	    {% endfor %}
	    <a href="">read more</a>
	    </div>
	</div>

	{% endblock %}
	</body>
</html>





